/* Additional styles go here */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');






header {
  padding: 0 0.25rem;
  margin-bottom: 2rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}



main{
  min-height: 100vh;
}


form{
font-size:20pt;
}

/*.box {width:400px;height:500px;border:1px solid #000;}*/

body {  font-family: 'IBM Plex Sans', sans-serif;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/82/44/z3mx7o.jpg");
}

.questions-box {margin-top:100px;width:700px;height: 350px;border:1px solid #000;background-color: #ffffff;}

button.Generate,.Answer {
  background-color: #3ad0d6;
  border-style: solid;
  border-width: medium;
  border-color: #000;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;}




  