/* Additional styles go here */
header {
  padding: 0 0.25rem;
  margin-bottom: 2rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}

.col-sm-12 {
font-family: UniSansHeavy;
}

main{
  min-height: 100vh;
}


form{
font-size:20pt;
}

/*.box {width:400px;height:500px;border:1px solid #000;}*/