
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>About Us</h1>
        <p>
          Our website is just a random question generator from the Pascal and Cayley which are Grade 9 and 10 mathmatics compitions. Feel free to use, all questions belong to the Center for Education in Mathmatics and Computing.
        </p>
        <p>
          parargaph
        </p>
        <p>
          <a href="">Link</a>
        </p>
      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
