
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
       <div class="questions-box"></div> 
        <button class="Generate" action="/" method="post">Generate</button><br><br>
        <button class="leaderboards">Leaderboards</button>
        <html>
<body><br>
  <!--<input type="text" name="lname"/> </form> </body> </html>--> 
  <style> 
    input {
      width: 100%;
    }
    </style>
    </head>
    <body>
    
    
    
    <form>
      <label for="fname">Answer</label>
      <input type="text" id="fname" name="fname">
    </form>



</body>
</html> 
          
      
        <center><p>
        </p></center>

      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
