
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
       <div class="questions-box">
                 
        <% if (image_src) { %>
          <img src="<%= image_src %>" />
         <% } %>
       </div> 
        <form action="/generate" method="post">
          <button class="Generate" type="submit">Generate</button>
          <label for="Answer">Answer</label>
          <input class="Answer" type="text" id="Answer" name="Answer">
        
          <br><br>
        </form>
        
        <html>
<body><br>
  <!--<input type="text" name="lname"/> </form> </body> </html>--> 
  <style> 
    input {
      width: 15%;
    }
    </style>
    </head>
    <body>
    



</body>
</html> 
          
      
        <center><p>
        </p></center>

      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
