
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="row">
              <div class="name">Jason</div><div class="score">1:37.59</div><div class="question">P-23 2021</div><div class="year">04/20/2022</div>
          </div>
          
          <div class="row">
              <div class="name">Rio</div><div class="score">2:12.47</div><div class="question">P-25 2022</div><div class="year">03/15/2022</div>
          </div>
          
          <div class="row">
              <div class="name">Ronhser</div><div class="score">2:12.48</div><div class="question">P-23 2022</div><div class="year">06/09/2022</div>
          </div>
          
          <div class="row">
              <div class="name">Dannington</div><div class="score">2:12.49</div><div class="question">P-22 2021</div><div class="year">02/26/2022</div>
          </div>
          
          <div class="row">
              <div class="name">Abeysirigunawardena</div><div class="score">2:12.50</div><div class="question">P-24 2021</div><div class="year">05/14/2022</div>
          </div>
      </div>
      </div>
    </div>
  </div>
</main>

  <%- include('../partials/footer'); %>
